.simple-gmaps {
    width: 500px;
    height: 500px;
}

.my-marker {
    position: relative;

    height: 37px;
    width: 32px;

    margin-top: -37px;
    margin-left: -16px;

    background-image: url(bear-marker.png);
}

.my-marker.icon-whale {
    background-image: url(whale-marker.png);
}


.my-marker .my-label {
    display: none;

    position: absolute;

    bottom: 40px;
    left: 50%;

    width: 150px;

    margin-left: -75px;

    border: solid 1px #5b914b;
    border-radius: 2px;

    background: #68a656;

    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 30px;
}

.my-marker:hover .my-label {
    display: block;
    cursor: pointer;
}

.my-marker.active .my-label {
    display: block;
}